@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-12);
  color: var(--color-1);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(67, 67, 67, 0.2)), 
    url(../assets/images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 98vh;
  background-size: 100%; /* Limita el gradiente a la mitad */
}


.ToolBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 641px;
  height: 54px;
  border-radius: 99px;
  background: var(--color-11);
  margin-top: 23px;
  gap: 100px;
}

.ToolBar > img {
  width: 40px;
  height: 40px;
}

.center-Nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.center-Nav > a {
  font-family: "Inter-Medium";
  font-size: 14px;
  color: var(--color-38);
  text-decoration: none;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 99px;
  color: var(--color-1);
  background: var(--color-38);
  cursor: pointer;
  text-decoration: none;
  width: 107px;
  height: 37px;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 839px;
  height: 705px;
  gap: 20px;
  margin-top: 56px;
}
.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrado vertical y horizontal */
    text-align: center;
    width: 98%;
    gap: 10px;
    height: 475px;
    margin-bottom: 10px;
  }
  
  .headerTitle h1 {
    font-family: "Barlow-Bold";
    font-size: 100px; /* Ajusta el tamaño al deseado */
    color: var(--color-44);
    margin: 0;
  }
  
  .headerTitle h1:nth-child(2) {
    color: var(--color-46);
  }

  .Header img {
    position: absolute;
    top: 195px;
    left: 690px;
  }

  .Header > h3 {
    font-family: "Inter-Bold";
    font-size: 25px;
    color: var(--color-44);
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 1.5;
  }

  .Header > p {
    font-family: "Inter-Regular";
    font-size: 25px;
    color: var(--color-45);
    text-align: center;
    width: 100%;
    margin: 0;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 80px;
  width: 100%;
  height: 100%;
}

.Section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-49); /* Color base */
  gap: 50px; /* Espacio entre los elementos */
  padding: 20px;
  width: 724px;
  height: 116px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra elegante */
  position: relative; /* Relativo para ajustes internos */
}

.imageProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
  border-radius: 50%; /* Forma circular */
  background-image: url(../assets/images/profile.jpg); /* Ruta de imagen */
  background-size: cover;
  background-repeat: no-repeat;
}

.imageProfile img {
  width: 20px;
  height: 20px;
  background: var(--color-1);
  border-radius: 50%;
  margin: 49px 0 0 49px;
}

.sec1-description {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  padding: 10px; /* Espaciado interno */
  width: 360px;
  height: auto; /* Ajusta automáticamente la altura */
  gap: 14px;
  border-radius: 10px; /* Bordes redondeados */
}

.desc1 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center; /* Centra los elementos verticalmente */
}

.desc1 img {
  width: 20px;
  height: 20px;
  background: var(--color-1);
  border-radius: 50%;
}
.rol {
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.rol p {
  font-family: "Barlow-Regular";
  font-size: 10px;
  color: var(--color-19);
  text-align: center;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.disponibilidad {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sec2-description {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra elementos verticalmente */
  gap: 16px;
}

.sec2-description p {
  font-family: "Barlow-Regular";
  font-size: 14px;
  color: var(--color-19);
}

.travel {
  width: 198px;
  height: 118px;
  background-image: url(../assets/images/Travel1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: absolute; /* Posicionamiento absoluto respecto a `.section1` */
  right: 0; /* Empuja el mapa al borde derecho */
  margin-left: auto; /* Empuja el mapa hacia la derecha */
}

.myDescription {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 90px;
}

.myDescription  p {
  font-family: "Inter-Regular";
  font-size: 20px;
  color: var(--color-18);
  width: 675px;
  height: 87px;
  text-align: center;
  line-height: 1.5;
}

.certificaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.certificaciones h1 {
  font-family: "Inter-Bold";
  font-size: 20px;
  color: var(--color-18);
}

.empresasCertificadoras {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
  width: 684px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.empresasCertificadoras img {
  width: 60px;
  height: 60px;
}

.linkBotones {
  display: flex;
  flex-direction: row;
  gap: 21px;
  padding: 0 20px;
  margin-top: 50px;
}

.linkBotones a {
  color: var(--color-40);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-41);
  border-style: solid;
  border-width: 1.2px;
  border-color: var(--color-41);
  height: 41px;
}

.linkBotones a:hover {
  background: var(--color-40);
  color: var(--color-3);
}

.linkBotones a:nth-child(1) {
  width: 190px;
}

.linkBotones a:nth-child(2) {
  width: 130px; 
}

.Section2-Work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.work1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.MainCardTech {
  display: flex;
  flex-direction: column;
  width: 353.24px;
  height: 414px;
  background-image: url(../assets/images/IconsTech.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Asegura que los elementos hijos puedan posicionarse dentro */
}

.frases1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 23.31px 17px 6.65px 23.31px;
  z-index: 2; /* Asegura que este elemento esté por encima */
  width: 35 2px;
  height: 129px;
  background: linear-gradient(
    to bottom,
    rgba(35, 41, 59, 1) 0%, /* Color sólido #23293B al 100% de opacidad */
    rgba(35, 41, 59, 0) 100% /* Color transparente #23293B al 0% de opacidad */
  );
  position: relative; /* Mantiene el posicionamiento */
}


.frases1 p:first-child {
  font-family: "Inter-Bold";
  font-size: 16.96px;
  color: var(--color-8);
}

.frases1 p:last-child {
  font-family: "Inter-Bold";
  font-size: 28.26px;
  color: var(--color-1);
}

.card-image {
  width: 50px;
  height: 50px;
}

.MainCardTech2 {
  display: flex;
  flex-direction: column;
  width: 635px;
  height: 413px;
  position: relative;
}

.frases2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 23.31px 17px 6.65px 23.31px;
  width: 100%;
  height: 130px;
  background: linear-gradient(
    to bottom,
    rgba(35, 41, 59, 1) 0%, /* Color sốlido #23293B al 100% de opacidad */
    rgba(35, 41, 59, 0) 100% /* Color transparente #23293B al 0% de opacidad */
  );
  position: relative; /* Mantiene el posicionamiento */
}

.frases2 p:first-child {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.frases2 p:last-child {
  font-family: "Inter-Bold";
  font-size: 40px;
  color: var(--color-1);
}

.socialmedia {
  display: grid;
  margin: 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
  right: 20px;
  height: 250px;
}

.socialmedia a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--color-10);
  height: 60px;
  text-decoration: none;
  font-family: "Inter-Bold";
  font-size: 20px;
  color: var(--color-44);
  border-radius: 70px;
}

.socialmedia a:hover {
  background: var(--color-40);
  color: var(--color-3);
}

.work2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.part1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 582px;
  position: relative; /* Mantiene el posicionamiento */
}

.firstPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 303px;
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
    url(../assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 17px;
  position: relative; /* Mantiene el posicionamiento */
}


.descWork21 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 440px;
  height: 122px;
  padding: 187px 25px 6px 35px;
  width: 500px;
}

.descWork21 p:first-child {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.descWork21 p:last-child {
  font-family: "Inter-Bold";
  font-size: 40px;
  color: var(--color-1);
}


.secondPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 303px;
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
    url(../assets/images/image2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 17px;
  position: relative; /* Mantiene el posicionamiento */
}

.descWork22 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 440px;
  height: 122px;
  padding: 187px 25px 6px 35px;
  width: 500px;
}

.descWork22 p:first-child {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.descWork22 p:last-child {
  font-family: "Inter-Bold";
  font-size: 40px;
  color: var(--color-1);
}

.part2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 23.31px 0px 6.65px 0px;
  width: 500px;
  height: 586px;
  border-radius: 22px;
  background-image: url(../assets/images/image1.png);
  position: relative; /* Mantiene el posicionamiento */
}

.titlePart2 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 440px;
  height: 122px;
  padding: 33px 75px 6px 33px;
  width: 500px;
}

.titlePart2 p:first-child {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.titlePart2 p:last-child {
  font-family: "Inter-Bold";
  font-size: 40px;
  color: var(--color-1);
}

.card-linkedin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 445px;
  width: 500px;
  height: 116px;
  border-radius: 22px;
  background:var(--color-20);
  position: absolute; /* Mantiene el posicionamiento */
}

.card-contentLinkedin {
  display: flex;
  flex-direction: row ;
  width: 440px;
  height: 122px;
  padding: 28px 75px 6px 33px;
  width: 500px;
}

.cardPart1 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 217px;
  height: 64px;
}

.card-title {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-1);
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que excede el ancho del contenedor */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos al final */
}

.card-text {
  font-family: "Inter-Bold";
  font-size: 16px;
  color: var(--color-8);
}

.card-contentLinkedin a {
  font-family: "Inter-Bold";
  font-size: 16px;
  color: var(--color-1);
  background: var(--color-47);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 44px;
  position: absolute;
  margin-left: 290px;
  border-radius: 29px;
}

.card-contentLinkedin a:hover {
  background: var(--color-40);
  color: var(--color-3);
}

.work3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 1018px;
  height: 119px;
  text-align: center;
  position: relative; /* Mantiene el posicionamiento */
}

.work3 h2 {
  font-family: "Inter-Bold";
  font-size: 32px;
  color: var(--color-1);
}

.work3 p {
  font-family: "Inter-Regular";
  font-size: 24px;
  color: var(--color-36);
}
.textProjects {
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0 20px;
  margin-top: 50px;
}

.filters a {
  color: var(--color-40);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  gap: 10px;
}

.filters img {
  width: 30px;
  height: 30px;
}

.filters a:hover {
  color: var(--color-3);
  background: var(--color-40);
  border-radius: 50px;
}

.card-projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 23.31px 0px 6.65px 0px;
  width: 1018px;
  height: 879px;
  border-radius: 22px;
  margin-top: 30px;
  position: relative; /* Mantiene el posicionamiento */
}

.card1 {
  display: flex;
  flex-direction: row;
  padding: 22.6px 20px 26.6px 20px;
  gap: 80px;
  width: 1018px;
  height: 308px;
}

.card-image1 {
  width: 430px;
  height: 254px;
  border-radius: 16px;
  margin: 26.50px 0;
  background-image: url(../assets/images/project1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-image2 {
  width: 430px;
  height: 254px;
  border-radius: 16px;
  margin: 26.50px 0;
  background-image: url(../assets/images/project2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-image3 {
  width: 430px;
  height: 254px;
  border-radius: 16px;
  margin: 26.50px 0;
  background-image: url(../assets/images/Mockup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 578px;
  height: 307px;
}

.card-content1 img {
  width: 30px;
  height: 30px;
}

.card-title1 {
  font-family: "Inter-Bold";
  font-size: 36px;
  color: var(--color-1);
}

.card-text {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.card-button {
  font-family: "Inter-Bold";
  font-size: 16px;
  color: var(--color-1);
  background: var(--color-47);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 44px;
  border-radius: 29px;
}

.card-button:hover {
  background: var(--color-40);
  color: var(--color-3);
}

.Frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 1018px;
  height: 647px;
  margin-top: 460px;
  position: relative; /* Mantiene el posicionamiento */
}

.technologysDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 1018px;
  height: 647px;
  text-align: center;
  position: relative; /* Mantiene el posicionamiento */
}

.technologysDescription h1 {
  font-family: "Inter-Bold";
  font-size: 64px;
  color: var(--color-1);
}

.technologysDescription p {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.card-technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  width: 1018px;
  height: 647px;
  position: relative; /* Mantiene el posicionamiento */
}

.cardT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 30px;
}

.cardT:hover {
  background: var(--color-10);
  color: var(--color-3);
  border-radius: 20px;
}

.card-technologies img {
  width: 80px;
  height: 80px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
  position: relative; /* Mantiene el posicionamiento */
}

.card.text {
  font-family: "Inter-Bold";
  font-size: 10px;
  color: var(--color-8);
}

.MacBookPro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 800px;
  width: 1024px;
  height: 295px;
  position: relative; /* Mantiene el posicionamiento */
}

.comunications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.OpenSource {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
  width: 1018px;
  height: 647px;
  position: relative; /* Mantiene el posicionamiento */
}

.OpenSource h2 {
  font-family: "Inter-Bold";
  font-size: 64px;
  color: var(--color-1);
}

.OpenSource p {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

footer {
  display: flex;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 277px;
  position: relative; /* Mantiene el posicionamiento */
  margin-bottom: 90px; /* Añade 20px extra al margen inferior */
}

footer p {
  font-family: "Inter-Bold";
  font-size: 24px;
  color: var(--color-8);
}

.messege {
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.messege img {
  width: 40px;
  height: 40px;
}
